DATABASE_URL=postgresql://INSERT_DB_USER:INSERT_DB_PASSWORD@127.0.0.1:5432/alerts_ua
NODE_ENV=development
FIREBASE_PROJECT_ID=alert-ua-app
FIREBASE_PRIVATE_KEY="INSERT_FIREBASE_PRIVATE_KEY"
FIREBASE_CLIENT_EMAIL=INSERT_FIREBASE_CLIENT_EMAIL
