[Unit]
Description=Run Alerts UA polling every 15 seconds

[Timer]
OnBootSec=30
OnUnitActiveSec=15
AccuracySec=1s
Unit=alerts-ua-poll.service

[Install]
WantedBy=timers.target
